<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AdminUserName" value="YourAdminUserName"/>
        <add key="AdminPassword" value="YourAdminPassword"/>
        <add key="RestConsumerKey" value="YourRestConsumerKey"/>
        <add key="RestConsumerSecret" value="YourRestConsumerSecret"/>
    </appSettings>
</configuration>