<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" userInstalled="true" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="RestSharp" version="105.1.0" targetFramework="net45" userInstalled="true" />
</packages>